/*////////////
GLOBAL SELECTORS
////////////*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
@media (max-width: 890px) {
  body {
    background-image: url("https://i.ibb.co/LvsDTPV/2990-AE31-7566-4-EB2-9445-6-EC24256997-A.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Abel", sans-serif;
    line-height: 1.3;
    text-align: center;
  }
}

@media (min-width: 900px) {
  body {
    background-image: url("https://i.ibb.co/LvsDTPV/2990-AE31-7566-4-EB2-9445-6-EC24256997-A.jpg");
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Abel", sans-serif;
    line-height: 1.3;
    text-align: center;
  }
}

button {
  color: black;
  background-color: white;
  border-radius: 4px;
}

.btn {
  background-color: black;
  color: white;
  font-family: Coiny;
}

h1 {
  color: rgb(25, 25, 45);
}

h3 {
  text-align: center;
  padding: 20px;
}

li {
  list-style-type: none;
  padding: 20px;
  border-radius: 20px;
}

form {
  text-align: center;
  padding-bottom: 15px;
}
/*////////////
HEADER SELECTORS
////////////*/
.navBar {
  font-weight: bolder;
  margin: 1%;
  font-size: 1.5em;
  color: black;
  padding: 1%;
  display: block;
  position: fixed;
}
#nav-button {
  padding: 2%;
  background-color: black;
  font-size: 1em;
  color: white;
}
#navBar-hide {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#header-wrap {
  padding-top: 25%;
  background-color: white;
}

#name-place {
  margin: auto;
  font-family: "Lobster", serif;
  font-size: 3.5em;
}

#word-place {
  margin: auto;
  font-size: 1.8em;
  padding-bottom: 25%;
  margin-bottom: 35%;
}
/*////////////
PROJECT SELECTORS
////////////*/
@media (max-width: 890px) {
  .background-margin {
    background-color: rgb(230, 230, 230);
  }
}

@media (min-width: 900px) {
  .background-margin {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(230, 230, 230);
  }
}

#past-div {
  width: 100%;
}

#pre-historic {
  grid-area: pre;
  padding: 10px;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(87px auto);
  grid-gap: 40px;
  grid-template-areas:
    "... quob ..."
    "... flut ..."
    "... weat ...";
}

#project-wrap {
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: white;
  width: 100%;
}

/*////////////
RANDOM QUOTE MACHINE SELECTORS
////////////*/
#quote-box {
  margin-right: 25%;
  margin-left: 25%;
  grid-area: quob;
  text-align: center;
}
/*
DESKTOP VIEW FOR QUOTE MACHINE
*/
@media (min-width: 1100px){
.liquidContainer {
  text-align: center;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(87px auto);
  grid-gap: 25px;
  grid-template-areas:
    "...  head  ..."
    "... ... ..."
    "... gen ..."
    "... ... ..."
    "... re ..."
    "... ... ..."
    "... foot ...";
}
}
/*
MOBILE VIEW FOR QUOTE MACHINE
*/
@media (max-width: 1000px){
  .liquidContainer {
    text-align: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(87px auto);
    grid-gap: 25px;
    font-size: 2em;
    grid-template-areas:
      " head"
      "gen"
      "re"
      "foot ";
  }
  }
.header {
  grid-area: head;
  text-align: center;
}

#me {
  text-align: center;
  margin-top: 5%;
  padding: 25px 25px 25px 25px;
}

.generator {
  grid-area: gen;
  text-align: center;
}

.rando-but {
  text-decoration: none;
  width: 25%;
  height: 15%;
}

.remember {
  grid-area: re;
  border-style: solid;
  border-color: white;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  padding: 25px 25px 25px 25px;
}

.quote {
  grid-area: q;
  text-align: center;
}

/*////////////
WIKI SEARCH SELECTORS
////////////*/
#fluid-tog {
  margin-top: 5%;
  grid-area: flut;
  margin-bottom: 5%;
}

.wiki-box {
  border: 3px, bold;
}

.portal {
  border-radius: 20px;
  text-decoration: none;
}

#wiki-search-button {
  border-radius: 20px;
}

/*////////////
WEATHER APP SELECTORS
////////////*/
#weather-header {
  grid-area: wehe;
}
#weather-tog {
  grid-area: weat;
}

.owl {
  margin-right: 25%;
  margin-left: 25%;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(87px auto);
  grid-gap: 10px;
  grid-template-areas:
    "... wehe ..."
    "... we ..."
    "... ... ...";
}

.weatherBox {
  grid-area: we;
  text-align: center;
  padding: 25px;
}

.local-weather {
  border-radius: 15px;
  border: 3px solid;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.weather {
  grid-area: lwe;
}

.location {
  grid-area: loc;
}

.temperature {
  grid-area: temp;
  padding-bottom: 15px;
}
/*
GENERAL INFO/RESOURCES OF CONTACT SELECTORS
*/

.resources-div {
  margin-top: 25%;
  background-color: white;
  padding: 10px;
  grid-area: rd;
}

/*
LANGUAGE/LIBRARY SELECTORS
*/
#lang-wrap {
  background-color: white;
  margin-top: 50%;
  width: 100%;
}
#lang-div {
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.9em;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  font-weight: bold;
  width: 80%;
  background-color: black;
  margin-bottom: 7%;
}

.css {
  font-weight: bold;
  width: 70%;
  background-color: black;
  margin-bottom: 7%;
}

.js {
  font-weight: bold;
  width: 65%;
  background-color: black;
  margin-bottom: 7%;
}

.jquery {
  font-weight: bold;
  width: 50%;
  background-color: black;
  margin-bottom: 7%;
}

.react {
  font-weight: bold;
  width: 30%;
  background-color: black;
}

/*
FORM SELECTORS
*/
.contact-submit {
  margin: auto;
  width: 33%;
  background-color: rgba(255, 255, 255, 0.5);
}
.form-handle {
  margin-top: 100px;
}
/*
FOOTER SELECTORS
*/

footer {
  margin-top: 10%;
  background: white;
  height: 10%;
}
